<div *ngIf="offer" class="offer">
  <div>
    <div>
      {{ offer.cityPl }}
      {{ offer.price }}
    </div>
    <div>
      {{ offer.place?.country }}
    </div>
    <div class="booking" (click)="addBooking(offer)">Rezerwuj</div>
  </div>
  <div>
    <div class="mainOffer">
      @if(offer.pictures[0]){
      <img
        src="{{ offer.pictures[0] }}"
        class="bigPicture"
        alt="Offer picture"
      />
      }

      <div class="description">
        {{ offer.description }}
      </div>
    </div>

    <div class="dates">
      {{ offer.startDate | date : "dd.MM.YYYY" }} -
      {{ offer.endDate | date : "dd.MM.YYYY" }}
    </div>
    @for(picture of offer.pictures; track picture){
    <img src="{{ picture }}" class="picture" alt="Offer picture" />
    } @empty { Brak zdjęć }
  </div>
</div>
