$accentColor: #3f51b5;
$primaryColor: #fff;
$actionColor: #fc4786;
$small-gap: 0.5rem;
$standard-gap: 1rem;

nav {
    background-color: $accentColor;
    padding: $small-gap;

    ul {
        list-style: none;
        display: flex;
        gap: $small-gap;

        a {
            text-decoration: none;
            color: $primaryColor;

            &:hover {
                color: $actionColor;
            }
        }

    }
}