@import '../settings/variables';

nav {
    background-color: $accentColor;
    padding: $small-gap;

    ul {
        list-style: none;
        display: flex;
        gap: $small-gap;

        a {
            text-decoration: none;
            color: $primaryColor;

            &:hover {
                color: $actionColor;
            }
        }

    }
}