<div class="search">
  <label for="country-select">Kraj: </label>
  <select
    name="country"
    id="country-select"
    #searchCountry
    (change)="onSelectedCountry()"
  >
    <option [value]="DEFAULT">Dowolny kraj</option>
    <option *ngFor="let country of countries" [value]="country">
      {{ country }}
    </option>
  </select>

  <label for="priceThreshold-select">Cena: </label>
  <select
    name="priceThreshold"
    id="priceThreshold-select"
    #searchPrice
    (change)="onSelectedPrice()"
  >
    <option [value]="DEFAULT">Dowolna cena</option>
    <option *ngFor="let price of priceThresholds" [value]="price">
      {{ price }}
    </option>
  </select>

  <label for="numberOfAdults">Liczba dorosłych: </label>
  <select
    name="numberOfAdults"
    id="numberOfAdults"
    #numberOfAdults
    (change)="onSelectedAdults()"
  >
    <option *ngFor="let adultsNumber of adults" [value]="adultsNumber">
      {{ adultsNumber }}
    </option>
  </select>

  <label for="numberOfChildren">Liczba dzieci: </label>
  <select
    name="numberOfChildren"
    id="numberOfChildren"
    #numberOfChildren
    (change)="onSelectedChildren()"
  >
    <option *ngFor="let childrenNumber of children" [value]="childrenNumber">
      {{ childrenNumber }}
    </option>
  </select>
</div>

<div *ngFor="let offer of offers">
  <app-offer [offer]="offer"></app-offer>
</div>
